<a href="/dashboard">Home</a>
<a href="/practice">Practice</a>
<h1>Introduction to Semaphore</h1>
<p>Did you know you only have to memorize 14 images to learn all of semaphore? That cuts the the work almost in half! Here's how to do it:</p>

<p>Take a look at this character. It is semaphore for "A" (just imagine semaphore flags at each tip). "A" stands for AlliGator.</p>
<img src="~/images/a.png" alt="a">
<p>Why AlliGator? Because "G" is the mirror image of "A", and if you memorize for "A", you will memorize for "G"</p>
<img src="~/images/a.png" alt="a">  <img src="~/images/g.png" alt="g">
<p>Here are the 14 letters you need to memorize along with their opposite "code-word":</p>
<img src="~/images/a.png" alt="a"> "A" for Alligator
<br><img src="~/images/b.png" alt="b"> "B" for Best Friend
<br><img src="~/images/c.png" alt="c"> "C" for CinderElla
<br><img src="~/images/d.png" alt="d"> "D" for DR. ("R" is actually the horizontal version of "D")
<br><img src="~/images/h.png" alt="h"> "H" for HuzZah!
<br><img src="~/images/i.png" alt="i"> "I" for IndeX
<br><img src="~/images/k.png" alt="k"> "K" for KeVin
<br><img src="~/images/o.png" alt="o"> "O" for OW!
<br><img src="~/images/p.png" alt="p"> "P" for PaJamas
<br><img src="~/images/q.png" alt="q"> "Q" for QualitY
<br><img src="~/images/s.png" alt="s"> "S" for SloMo
<br><img src="~/images/u.png" alt="u"> "U" for United Nations ("U" is reflected horizontally to make "N")
<br><img src="~/images/l.png" alt="l"> <img src="~/images/t.png" alt="t"> "L" and "T" (displayed respectively) have no opposites thus you can put them together as LT.

<p>You may have noticed most of the letters given here open up (like a mouth) towards the left-hand side. That may help you since the code-word starts with the letter opening towards the left-hand side</p>
<p>Once you memorize the above shapes, imagine their opposites (if they have one) and assign them their correct letter based on the code word</p>
<p>For Example:</p>
<img src="~/images/k.png" alt="k"> Hello what's this? I know it's a "K". The opposite would look like this: <img src="~/images/v.png" alt="v"> What letter is that? "K" stands for KeVin...so this must be "V"!

<p>Now if you were given the semaphore character that opens up to the right-hand side like this: <img src="~/images/y.png" alt="y"> How can we figure this out? Well it's similar to a "Q" and that stands for QualitY, but it opens up to the right-hand side, so it must be "Y"! </p>

<p>Another small hint is that "U" opens upward like a "u" and "N" opens downward like an "n"</p>

<p>Keep reviewing and you can go to the "Practice" section when you're ready!</p>