<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        $('.a').click(function(){
           $('.a').toggle();
        })
        $('.b').click(function(){
           $('.b').toggle();
        })
        $('.c').click(function(){
           $('.c').toggle();
        })
        $('.d').click(function(){
           $('.d').toggle();
        })
        $('.e').click(function(){
           $('.e').toggle();
        })
        $('.f').click(function(){
           $('.f').toggle();
        })
        $('.g').click(function(){
           $('.g').toggle();
        })
        $('.h').click(function(){
           $('.h').toggle();
        })
        $('.ch').click(function(){
           $('.ch').toggle();
        })
        $('.i').click(function(){
           $('.i').toggle();
        })
        $('.j').click(function(){
           $('.j').toggle();
        })
        $('.k').click(function(){
           $('.k').toggle();
        })
        $('.l').click(function(){
           $('.l').toggle();
        })
        $('.m').click(function(){
           $('.m').toggle();
        })
        $('.n').click(function(){
           $('.n').toggle();
        })
        $('.o').click(function(){
           $('.o').toggle();
        })
        $('.p').click(function(){
           $('.p').toggle();
        })
        $('.q').click(function(){
           $('.q').toggle();
        })
        $('.r').click(function(){
           $('.r').toggle();
        })
        $('.s').click(function(){
           $('.s').toggle();
        })
        $('.t').click(function(){
           $('.t').toggle();
        })
        $('.u').click(function(){
           $('.u').toggle();
        })
        $('.v').click(function(){
           $('.v').toggle();
        })
        $('.w').click(function(){
           $('.w').toggle();
        })
        $('.x').click(function(){
           $('.x').toggle();
        })
        $('.y').click(function(){
           $('.y').toggle();
        })
        $('.z').click(function(){
           $('.z').toggle();
        })
        
    })
</script>
<a href="/dashboard">Home</a>
<a href="/morseprac">Morse Practice</a>
<h1>Morse Flash Scrolls!</h1>
<h4>Click on a scroll to flip it over and reveal its letter</h4>
<p>They are arranged in pairs where the dot is switched with the dash</p>
<p>This may help with memorizing. Notice that the last three do not have pairings</p>

<img class="e" src="~/images/morseScrolls/e.png" alt="">
<img class="e" style="display: none" src="~/images/morseScrolls/EE.png" alt="">

<img class="t" src="~/images/morseScrolls/t.png" alt="">
<img class="t" style="display: none" src="~/images/morseScrolls/TT.png" alt="">
<br>
<img class="i" src="~/images/morseScrolls/i.png" alt="">
<img class="i" style="display: none" src="~/images/morseScrolls/II.png" alt="">

<img class="m" src="~/images/morseScrolls/m.png" alt="">
<img class="m" style="display: none" src="~/images/morseScrolls/MM.png" alt="">
<br>
<img class="s" src="~/images/morseScrolls/s.png" alt="">
<img class="s" style="display: none" src="~/images/morseScrolls/SS.png" alt="">

<img class="o" src="~/images/morseScrolls/o.png" alt="">
<img class="o" style="display: none" src="~/images/morseScrolls/OO.png" alt="">
<br>
<img class="h" src="~/images/morseScrolls/h.png" alt="">
<img class="h" style="display: none" src="~/images/morseScrolls/HH.png" alt="">

<img class="ch" src="~/images/morseScrolls/ch.png" alt="">
<img class="ch" style="display: none" src="~/images/morseScrolls/CHCH.png" alt="">
<br>
<img class="a" src="~/images/morseScrolls/a.png" alt="">
<img class="a" style="display: none" src="~/images/morseScrolls/AA.png" alt="">

<img class="n" src="~/images/morseScrolls/n.png" alt="">
<img class="n" style="display: none" src="~/images/morseScrolls/NN.png" alt="">
<br>
<img class="w" src="~/images/morseScrolls/w.png" alt="">
<img class="w" style="display: none" src="~/images/morseScrolls/WW.png" alt="">

<img class="d" src="~/images/morseScrolls/d.png" alt="">
<img class="d" style="display: none" src="~/images/morseScrolls/DD.png" alt="">
<br>
<img class="j" src="~/images/morseScrolls/j.png" alt="">
<img class="j" style="display: none" src="~/images/morseScrolls/JJ.png" alt="">

<img class="b" src="~/images/morseScrolls/b.png" alt="">
<img class="b" style="display: none" src="~/images/morseScrolls/BB.png" alt="">
<br>
<img class="r" src="~/images/morseScrolls/r.png" alt="">
<img class="r" style="display: none" src="~/images/morseScrolls/RR.png" alt="">

<img class="k" src="~/images/morseScrolls/k.png" alt="">
<img class="k" style="display: none" src="~/images/morseScrolls/KK.png" alt="">
<br>
<img class="p" src="~/images/morseScrolls/p.png" alt="">
<img class="p" style="display: none" src="~/images/morseScrolls/PP.png" alt="">

<img class="x" src="~/images/morseScrolls/x.png" alt="">
<img class="x" style="display: none" src="~/images/morseScrolls/XX.png" alt="">
<br>
<img class="l" src="~/images/morseScrolls/l.png" alt="">
<img class="l" style="display: none" src="~/images/morseScrolls/LL.png" alt="">

<img class="y" src="~/images/morseScrolls/y.png" alt="">
<img class="y" style="display: none" src="~/images/morseScrolls/YY.png" alt="">
<br>
<img class="u" src="~/images/morseScrolls/u.png" alt="">
<img class="u" style="display: none" src="~/images/morseScrolls/UU.png" alt="">

<img class="g" src="~/images/morseScrolls/g.png" alt="">
<img class="g" style="display: none" src="~/images/morseScrolls/GG.png" alt="">
<br>
<img class="f" src="~/images/morseScrolls/f.png" alt="">
<img class="f" style="display: none" src="~/images/morseScrolls/FF.png" alt="">

<img class="q" src="~/images/morseScrolls/q.png" alt="">
<img class="q" style="display: none" src="~/images/morseScrolls/QQ.png" alt="">
<br>
<img class="c" src="~/images/morseScrolls/c.png" alt="">
<img class="c" style="display: none" src="~/images/morseScrolls/CC.png" alt="">

<img class="v" src="~/images/morseScrolls/v.png" alt="">
<img class="v" style="display: none" src="~/images/morseScrolls/VV.png" alt="">

<img class="z" src="~/images/morseScrolls/z.png" alt="">
<img class="z" style="display: none" src="~/images/morseScrolls/ZZ.png" alt="">

